@CHARSET "UTF-8";
/* /SwingFlow/WebContent/Category/Shopping/Shop/ShopInput.jsp */
.ShopInput_Form
{	
	position: relative;
	top: 5px;
	left: 5px;
	overflow: auto;
	overflow-y: hidden;
/* 	width: 90%; */
	padding-top: 10px;
	margin-bottom: 20px;	
}
.ShopInput_Table{
	font-size:17px;	
	font-weight:bold;	
	font-family:돋움;
}

/* /SwingFlow/WebContent/Category/Shopping/Shop/DivGubunInput.jsp */
.DivGubunInput_Form
{	
	position: relative;
	top: 5px;
	left: 5px;
	overflow: auto;
	overflow-y: hidden;
/* 	width: 90%; */
	padding-top: 10px;
	margin-bottom: 20px;	
}
.DivGubunInput_table{
	font-size:17px;	
	font-weight:bold;	
	font-family:돋움;
}