@CHARSET "UTF-8";
.shopjoin_form
{	
	position: relative;
	top: 5px;
	left: 5px;
	overflow: auto;
	overflow-y: hidden;
/* 	width: 90%; */
	padding-top: 10px;
	margin-bottom: 20px;	
}
.shopjoin_table{
	font-size:17px;	
	font-weight:bold;	
	font-family:돋움;
}