@CHARSET "UTF-8";

body{
	margin-left:0px;
	
}

/* 탑 메뉴 영역 */
#header {
	/* margin-bottom: 30px; */
 	height:21px;
 	width: 100%;
 	position: fixed!important;
 	top: 0px;
 /*	position: relative;*/
	z-index: 9999;
	background-color: white;
	
 }

.top_nav{
	left:0px;
	width:100%;	
	background: #0043A8;
  	background: -moz-linear-gradient(#43A9FF, #0043A8);
 	 background: -o-linear-gradient(#43A9FF, #0043A8);
 	 background: -webkit-linear-gradient(#43A9FF, #0043A8);
	 
}

.top_table tr th{
	width:100px;

  
}
.top_table tr th a{
	display:block;
	text-decoration:none;	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;	
	 text-shadow: 1px 1px #000;
 	 background: transparent; 
  	 color: #FFF;
}
.top_table tr th a:hover{
color: white;
  text-shadow: 1px 1px #43A9FF;
}





/* 본문 영역 */
#wrap{
	/* border: solid 1px black; */
	   /*1250px width:1150px;*/
	width:1265px;
	height:auto;
	
	position:relative;
	/*top:37px;*/
		
	}
#film, #air, #travel{
	float:left;
	height:300px;	
}
#film, #air{
	margin-right:10px;	
}
#movie{
	margin-right:10px;	
}
#movie, #shop{
	float:left;
	margin-top:10px;
		
}

/* 푸터 영역 */

.footer{
	position:relative;	
	clear:both;
	width:100%;
	height:auto;
	margin:30px 0 30px 0;
	padding-top: 30px;
	
}
#footer_div{
	margin: 0 45px 0 45px;	
	border: solid 1px #c9c8d2;
	height:95px;
}
#footer_copy{
	padding-top:10px;
	margin-left: 80px;
	margin-top: 10px;
	float:left;
	
}
.footer #copy_link{
	font-size:13px;
	width:600px;
	margin-bottom:5px;
	word-spacing:7px;
	
	
}
#copy_link a{
	text-decoration:none;
	margin-right:5px;	
}
.footer #copy{
	line-height:20px;
	font-size:13px;
	width:600px;
	

}

.footer #social{
	width:130px;
	margin:20px 30px 0 0;
	float:right;
}
.footer #social img{
	margin: 0 7px;
}
